
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_body {
  width: 80%;
  max-width: 900px;
  background-color: #ffffff;
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3f51b5;
}


input[type="text"] {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 8px rgba(63, 81, 181, 0.2);
}


ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  max-width: 80%;
  margin: 0 auto;
}

ul li {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 12px;
  margin: 8px 0;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 18px;
}

ul li:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}

p.error {
  color: #f44336;
  font-weight: bold;
  margin-top: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #3f51b5;
}

.carousel-item {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carousel-item:hover {
  background-color: #f9f9f9;
  transform: translateY(-5px);
  cursor: pointer;
}

.forecast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hover-info {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.carousel-item:hover .hover-info {
  display: block;
}

.temperature {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffcc00;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: #3f51b5;
}

.slick-prev, .slick-next {
  z-index: 1;
}

.slick-dots li button:before {
  color: #3f51b5;
  font-size: 12px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .carousel-item {
    padding: 10px;
  }

  .forecast-details h3 {
    font-size: 18px;
  }

  .forecast-details p {
    font-size: 14px;
  }

  input[type="text"] {
    width: 90%;
  }

  ul li {
    font-size: 16px;
  }
}
